<div class="center">
<h1>Windowとそこに溜まったタブを整理しましょう！</h1></br>
<p>勉強、仕事、趣味、調べ事でタブを溜め込んでませんか？</p>
<p>残していたタブを探すことに時間をかけていませんか？</p>
<p>でも、後でまた使うかもしれない...と思いタブを残していませんか？</p>
<p>このアプリを使えば、溜め込んだタブを管理しあなたのウィンドウをスッキリ整理することができます！</p>
</div>
<%= link_to "みんなが投稿したリンク集", tab_collections_path %><%= link_to "みんなが投稿したリンク集", tab_collections_path %>
<%= link_to "みんなが投稿したリンク集", tab_collections_path %><%= link_to "みんなが投稿したリンク集", tab_collections_path %>